@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

:root {
    --font-color: rgb(85, 85, 85);
    --form-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --button-color: rgb(89, 109, 72); 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    background-color: white;
    overflow-y: hidden;
}

header {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: start;
    justify-content: end;
    color: var(--font-color);
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    padding: 30px;
    font-size: 1.81rem;
    background-color: rgb(255, 255, 255);
    color: var(--font-color);
    margin: 0;
}


.container-main {
    background-color: rgb(255, 255, 255);
    height: 110vh;
    width: 50vw;
}

.image-text {
    max-width: 55vh;
    height: 110vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.image-text > .odin-logo {
    position: absolute;
    width: 5%;
    top: 20%;
    left: 14%;
}

.image-text > img {
    width: 69vh;
}

.form-container {
    background-color: white;
    width: auto;
    height: 30vh;
    box-shadow: 0 10px 10px -6px rgba(193, 193, 193, 0.5); /* Pure bottom shadow */
    overflow: hidden;
}

/* Odin Logo */
.logo {
    position: absolute;
    top: 25%;
    z-index: 1;
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
}

.logo > img {
    position: absolute;
    width: 20%;
    margin-top: 20px;
    left: 20%;
}

.logo > h1 {
    position: absolute;
    margin-top: 10%;
    left: 45%;
    font-size: 72px;
    color: white;
    font-family: 'Norse-Bold';
}

.logo::before {
    content: "div";
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 50%;
    background-color: black;
    width: 55vh;
    height: 20vh;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Form */
form {
    display: flex;
    gap: 90px;
    padding: 30px;
}

label {
    margin-bottom: -8px;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: var(--form-font);
    color: var(--font-color);
}

input {
    border: 1px solid black;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}

.left-form, .right-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 40%;
}

button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 15px;
    width: 245px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 10px 0px rgb(174, 174, 174);
    cursor: pointer;
}

.bottom-content {
    margin-top: 60px;
    margin-left: 30px;
}

p {
    margin-top: 10px;
}

p > a {
    text-decoration: none;
    color: var(--button-color);
    font-weight: bold;
}